[long]
9B3B14A9C7B75 = xe1gyq-7
[short]
49777 = xe1gyq-7

[users]
01 = xe1gqp-12
02 = xe1hax-12
03 = xe1gyq-12

[xe1gyq-12]
PS01 = Esta es mi posicion 1
SP01 = Este es mi estado 1
SS01 = Este es mi mensaje 1

[generic]
PS01 = Esta es una posicion generica 1
SP01 = Este es un estado generico 1
SS01 = Este es un mensaje generico 1
