[general]
radioclub = asociacion de radio experimentadores de jalisco
systemname = proyecto cancun, sintetizador y reconocimiento de voz para repetidores
callsign = xe1gyq
serialport = /dev/ttyS0

[weather]
agent = aprsfi
# Ir a https://weather.yahoo.com, buscar tu ciudad y copiar el
# numero que aparece en la barra de direccion, este es nuestro cityid
# Ejemplos:
# Guadalajara es 124162
# San Luis de la Paz, Guanajuato es 144253
# Silao, Guanajuato es 147582
yahoocityid = 124162
aprsficallsign=XE1HAX-13

[irlp]
path=/home/irlp/
costimer=10
