[general]
radioclub = Asociacion de Radio Experimentadores de Jalisco
systemname = Proyecto cancun, sintetizador y reconocimiento de voz para repetidores
callsign = xe1gyq
frequency = 147.570 Simplex
serialport = /dev/ttyS0
morseagent = cwpcm
# morseagent = pygame
# irlpmode = out
irlpmode = in

[weather]
agent = yahoo
yahoocityid = MXJO0043
# Ir a
# http://www.intellicast.com/FFC/SupportFiles/FFC_ForecastLocationList_Intl.txt
# para obtener el numero
# Ejemplos:
# Guadalajara es MXJO0043
# Leon es MXGO0035
# Silao es MXGO0480
#
# agent = aprsfi
# aprsficallsign=XE1HAX-13
# aprsfilocation=Guadalajara Y Zona Metropolitana

[irlp]
path=/home/irlp/
costimer=10
